{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}Parcelas Calculadas{% endblock %}

{% block content %}
<div class="container mt-4 position-relative">
    <!-- Alinhando os botões no header -->
    <div class="d-flex justify-content-between mb-3">
        <a href="{% url 'calcular_parcela' %}" class="btn btn-success">
            + Nova Parcela
        </a>
    </div>

    <!-- Verifica se não há índices INCC cadastrados -->
    {% if not incc_indices %}
    <div class="alert alert-danger m-3">
        Nenhum índice INCC cadastrado. O sistema depende desses valores para os cálculos.
        <a href="{% url 'incc_index' %}" class="btn btn-sm btn-dark ml-2">Cadastrar agora</a>
    </div>
    {% endif %}

    <h2 class="text-white">Parcelas Calculadas</h2>
    <table class="table table-bordered table-dark mt-3">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Valor Original</th>
                <th>Vencimento</th>
                <th>Pagamento</th>
                <th>Total Atualizado</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for parcela in parcelas %}
                <tr>
                    <td>{{ parcela.id }}</td>
                    <td>{{ parcela.nome }}</td>
                    <td>R$ {{ parcela.valor_original }}</td>
                    <td>{{ parcela.data_vencimento }}</td>
                    <td>{{ parcela.data_pagamento }}</td>
                    <td>R$ {{ parcela.valor_total }}</td>
                    <td><a href="{% url 'parcela_detalhe' parcela.id %}" class="btn btn-sm btn-info">Ver</a>
                        <form action="{% url 'parcela_delete' parcela.id %}" method="post" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Tem certeza que deseja excluir esta parcela?')">Excluir</button>
                        </form></td>
                    
                </tr>
            {% empty %}
                <tr>
                    <td colspan="7" class="text-center">Nenhuma parcela encontrada.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botão para gerar Excel -->
    <form method="get" action="{% url 'gerar_excel' %}">
        <button type="submit" class="btn btn-primary">Gerar Excel</button>
    </form>
</div>

<!-- Botão flutuante -->
<a href="{% url 'calcular_parcela' %}" class="btn btn-success position-fixed" style="bottom: 20px; right: 20px; z-index: 1000;">
    + Nova Parcela
</a>
{% endblock %}
